<?xml version="1.0"?>
<robot name="pivozavr" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pivozavr_description)/urdf/mecanum_properties.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/mech/base.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/mech/mecanum_wheel.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/sensors/imu.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/sensors/gnss.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/sensors/generic_laser.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/sensors/depth_sensor.urdf.xacro" />
  <xacro:include filename="$(find pivozavr_description)/urdf/controllers/omni_drive.urdf.xacro" />

  <xacro:base 
    length="${base_length}" 
    width="${base_width}" 
    height="${base_height}" 
    mass="${base_mass}"
    wheel_radius="${wheel_radius}"
    wheel_pos_z="${wheel_pos_z}"
/>

  <xacro:mecanum_wheel 
    side="front_left"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${wheel_pos_x}" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:mecanum_wheel 
    side="front_right"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${wheel_pos_x}" 
    pos_y="${-wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:mecanum_wheel 
    side="mid_left"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="0" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:mecanum_wheel 
    side="mid_right"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="0" 
    pos_y="-${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:mecanum_wheel 
    side="rear_left"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${-wheel_pos_x}" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:mecanum_wheel 
    side="rear_right"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${-wheel_pos_x}" 
    pos_y="${-wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:gnss/>

  <xacro:imu/>

  <!-- For lidar begin-->
  <!--<link name="rotation_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.04"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .5 1"/>
      </material>
    </visual>
  </link>

  <joint name="rotation_joint" type="revolute">
    <parent link="base_link"/>
    <child link="rotation_link"/>
    <origin xyz="0.32 0.01 0.513"/>
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="0.0" upper="3.141592" velocity="1"/>
  </joint>-->

  <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.02"/>
      </geometry>
      <material name="blue">
        <color rgba="0 .5 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.54" rpy="-0.01745 0 0"/> <!-- 0.029 z -->
  </joint>
  
  <link name="openni_rgb_optical_frame">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.02"/>
      </geometry>
      <material name="blue">
        <color rgba="0 .5 0 1"/>
      </material>
    </visual>
  </link>
  
  <joint name="openni_joint" type="fixed">
    <parent link="base_link"/>
    <child link="openni_rgb_optical_frame"/>
    <origin xyz="0.32 0.01 0.263" rpy="-1.5707 0 -1.5707"/> <!-- 0.029 z -->
  </joint>

  <!-- For lidar end-->
  
  <!--<xacro:generic_laser>
    <xacro:insert_block name="laser_pose" />
  </xacro:generic_laser>-->
  
  <!--<xacro:depth_sensor>
    <xacro:insert_block name="depth_sensor_pose" />
  </xacro:depth_sensor>-->

  <xacro:omni_drive_controller/>
</robot>
